flows (4).json
[{"id":"6556b660.c6ae68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"60bc4b86.5def54","type":"ui_form","z":"6556b660.c6ae68","name":"","label":"","group":"c54d06f0.73f378","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["754e82e6.43b7ec"]]},{"id":"754e82e6.43b7ec","type":"function","z":"6556b660.c6ae68","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["97fe43a.10cf8c","b64506b3.cab348"]]},{"id":"97fe43a.10cf8c","type":"watson-conversation-v1","z":"6556b660.c6ae68","name":"","workspaceid":"9fa3fde9-7548-4a18-b91d-bb49891d1aca","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1cd05b39-2534-4459-9618-e9de39d94867","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["e146fa2.9096b08","d7a4b157.542e7"]]},{"id":"d7a4b157.542e7","type":"function","z":"6556b660.c6ae68","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["e146fa2.9096b08","9b634886.0c9208","74e645c3.ad6aac","13edd5a3.8a017a"]]},{"id":"e146fa2.9096b08","type":"debug","z":"6556b660.c6ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"9b634886.0c9208","type":"ui_template","z":"6556b660.c6ae68","group":"c54d06f0.73f378","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"74e645c3.ad6aac","type":"ui_audio","z":"6556b660.c6ae68","name":"","group":"c54d06f0.73f378","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"b64506b3.cab348","type":"ui_text","z":"6556b660.c6ae68","group":"c54d06f0.73f378","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"13edd5a3.8a017a","type":"ui_text","z":"6556b660.c6ae68","group":"c54d06f0.73f378","order":2,"width":"6","height":"5","name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"c54d06f0.73f378","type":"ui_group","z":"","name":"UI","tab":"672e498f.0423f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"672e498f.0423f8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]