flows (2).json
[{"id":"ae07e05e.a2605","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"e8f8b5f8.7bfe28","type":"ui_form","z":"ae07e05e.a2605","name":"","label":"","group":"c22f61ae.124f5","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["7cc1de86.3ce09"]]},{"id":"7cc1de86.3ce09","type":"function","z":"ae07e05e.a2605","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["2aeaef7e.7cb11","7a0c3aa0.ebf1d4"]]},{"id":"2aeaef7e.7cb11","type":"watson-conversation-v1","z":"ae07e05e.a2605","name":"","workspaceid":"a9cc7627-dc71-4cb7-b49d-07ab4c96ef3c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4969dc9c-6208-40a8-973d-f6cf7ca1f5fa","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["be60f078.c89e9","a8c921fe.1bad1"]]},{"id":"a8c921fe.1bad1","type":"function","z":"ae07e05e.a2605","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["be60f078.c89e9","c43dbfa5.648cf","ee036f28.ce386","bd981e53.706b6"]]},{"id":"be60f078.c89e9","type":"debug","z":"ae07e05e.a2605","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"c43dbfa5.648cf","type":"ui_template","z":"ae07e05e.a2605","group":"c22f61ae.124f5","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"ee036f28.ce386","type":"ui_audio","z":"ae07e05e.a2605","name":"","group":"c22f61ae.124f5","voice":"en-GB","always":true,"x":780,"y":340,"wires":[]},{"id":"7a0c3aa0.ebf1d4","type":"ui_text","z":"ae07e05e.a2605","group":"c22f61ae.124f5","order":2,"width":"0","height":"0","name":"","label":"chatbot","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":520,"wires":[]},{"id":"bd981e53.706b6","type":"ui_text","z":"ae07e05e.a2605","group":"c22f61ae.124f5","order":2,"width":"6","height":"5","name":"","label":"candidate","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":420,"wires":[]},{"id":"c22f61ae.124f5","type":"ui_group","z":"","name":"UI","tab":"d6e5a575.c33f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6e5a575.c33f98","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]